<br>
<h1 style="text-align: center;">Task Tracker</h1>

<form style="margin: auto;" [formGroup]="taskRef" class="task-form">
    <mat-form-field id="id" class="form-full-width" appearance="fill">
        <mat-label>ID</mat-label>
        <input type="text" formControlName="id" matInput placeholder="Type ID here..." value="">
    </mat-form-field>
  
    <mat-form-field id="task" class="form-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Type name here..." value="">
    </mat-form-field>
    
    <mat-form-field id="name" class="form-full-width" appearance="fill">
        <mat-label>Task</mat-label>
        <input type="text" formControlName="task" matInput placeholder="Type task here..." value="">
    </mat-form-field>

    <mat-form-field id="deadline" class="form-full-width" appearance="fill">
        <mat-label>Deadline</mat-label>
        <input type="date" formControlName="deadline" matInput placeholder="Select deadline here..." value="">
    </mat-form-field>

  </form>

  <div class="form-button-container">
    <button style="margin-left: 20px;" mat-raised-button (click)="addData()" class="form-button">
      Add Task
    </button>
    <button
        mat-raised-button
        [disabled]="!dataSource.length"
        (click)="resetForms()"
        class="form-button">
      Reset
    </button>
  </div> 

  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 form-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef>Task</th>
      <td mat-cell *matCellDef="let element">{{element.task}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef>Deadline</th>
      <td mat-cell *matCellDef="let element">{{element.deadline}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  